/* ============= google font link ============= */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* ============= banner or header title ============= */
.my-bg-clr {
    background-color: #1A1A1A;
}

h1.banner-title {
    font-family: 'Berkshire Swash', cursive;
    color: #FF5E19;
}

/* ============= to control marker alignment in banner header title ============= */
#marker {
    width: 150%;
    max-width: fit-content;
    top: 110%;
}

/* ============= left side banner section background ============= */
.bg-lion {
    background-image: url("./images/lion.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

/* ============= banner image ============= */
img[alt="mbappe"] {
    object-fit: cover;
    object-position: center;
    position: relative;
}

/* ============= give shadow to the icons ============= */
i {
    text-shadow: 0 0 4px white;
}

/* ============= right side of banner background image =============  */
.bg-curve-img {
    background-image: url("./images/Rectangle57.svg");
    background-repeat: no-repeat;
    background-position: 0% 104%;
    background-size: 124% 86%;
    overflow: hidden;
}

/* ============= to control image of football ============= */
.bg-curve-img img {
    top: 68%;
    width: 60%;
}

/* ============= uerg under player list and budget title ============= */
.marker-ureg {
    width: 72%;
    max-width: fit-content;
    bottom: 15%;
}

/* ============= design budget form input focus ============= */
form input:focus {
    outline: 3px solid white !important;
}

/* ============= design of disabled button in card player ============= */
button[disabled] {
    background-color: lightgray !important;
    color: black;
    border: none;
    color: whitesmoke;
}